{% comment %}
  The following code uses the `image_with_tooltips` section type to display
  an image with tooltips that appear on hover. Tooltips can be positioned
  anywhere on the image and can be linked to product collections.
{% endcomment %}

{% assign image_url = section.settings.image | img_url: 'master' %}
{% assign tooltips = section.settings.tooltips | split: ',' %}
{% assign tooltip_positions = section.settings.tooltip_positions | split: ',' %}
{% assign tooltip_links = section.settings.tooltip_links | split: ',' %}

<div class="image-with-tooltips">
  <div class="image-wrapper">
    <img src="{{ image_url }}" alt="{{ section.settings.alt_text }}">
    {% for tooltip in tooltips %}
      {% assign index = forloop.index0 %}
      <a href="{{ tooltip_links[index] }}" class="tooltip" style="{{ tooltip_positions[index] }}">
        {{ tooltip }}
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image with Tooltips",
  "class": "image-with-tooltips",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Upload an image to display in this section."
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alt Text",
      "info": "Add alternative text for the image."
    },
    {
      "type": "textarea",
      "id": "tooltips",
      "label": "Tooltips",
      "info": "Add tooltips to display on hover, separated by commas."
    },
    {
      "type": "textarea",
      "id": "tooltip_links",
      "label": "Tooltip Links",
      "info": "Add links to product collections to associate with each tooltip, separated by commas. The number of links should match the number of tooltips."
    },
    {
      "type": "textarea",
      "id": "tooltip_positions",
      "label": "Tooltip Positions",
      "info": "Add positions for each tooltip on the image, separated by commas. The values should be in the format `left: X%; top: Y%;` where X and Y are the percentages of the image width and height, respectively. The number of positions should match the number of tooltips."
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% raw %}
  .image-with-tooltips {
    position: relative;
  }

  .image-with-tooltips .image-wrapper {
    position: relative;
  }

  .image-with-tooltips .tooltip {
    display: inline;
    position: absolute;
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .image-with-tooltips .tooltip:hover {
    background-color: white;
    color: white;
    border: 1px solid black;
  }

    .image-with-tooltips .tooltip:before {
    content: "";
    position: absolute;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid rgba(0, 0, 0, 0.8);
    left: 50%;
    margin-left: -0.5em;
    bottom: -0.5em;
  }

  .image-with-tooltips .tooltip:hover:before {
    border-bottom: 0.5em solid white;
  }
{% endraw %}
{% endstylesheet %}
